# requirements.txt
# Python 3.13.3

# Core Qiskit
qiskit==1.4.4

# Qiskit Aer Simulator
# qiskit-aer==0.17.1
qiskit-aer-gpu-cu11==0.17.0
# For GPU support in Aer, potentially need matching CUDA drivers on the node
# and sometimes 'qiskit-aer-gpu' (though often Aer auto-detects)

# Qiskit Application Modules
qiskit-algorithms==0.3.1
qiskit-nature==0.7.2

# Chemistry Backend
pyscf==2.10.0

# Visualization
matplotlib==3.10.5
py3Dmol==2.5.2
pylatexenc==2.10

# Configuration & Utilities
numpy==2.3.2
pydantic==2.11.7
pydantic-settings==2.10.1
pyyaml==6.0.2
ipython==9.4.0

# For Optimizer Comparison Table
tabulate==0.9.0
pandas==2.3.2

# For GPU check in main.py
torch==2.8.0
